<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vinay"
        tools:targetApi="31">
        <activity
            android:name=".RecyclerView"
            android:exported="false" />
        <activity
            android:name=".prgressBar"
            android:exported="false" />
        <activity
            android:name=".ex_rating_bar"
            android:exported="false" />
        <activity
            android:name=".checkBox"
            android:exported="false" />
        <activity
            android:name=".ToggleButtonEx"
            android:exported="false" />
        <activity
            android:name=".calculator"
            android:exported="false" />
        <activity
            android:name=".callEdittext"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".AnimationEx"
            android:exported="false" />
        <activity
            android:name=".TimeAndDatePicker"
            android:exported="false" />
        <activity
            android:name=".WebViewEx"
            android:exported="false" />
        <activity
            android:name=".autoCompleteTextBox"
            android:exported="false" />
        <activity
            android:name=".listViweAdpeter"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="false" />
        <activity
            android:name=".Ex_RecyclerView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
        <activity android:name=".Redio_button_image_view" />
    </application>

</manifest>